body {
    padding: 0px;
    margin: 0px;
    font-family: 'Nixie One', cursive;
    /*    background: rgb(255, 222, 104);*/
}


.appWrap {
    margin: 0px 10% 0px 10%;
    display: grid;
    grid-template-rows: auto 8vh 80vw 260px 1fr auto;
}

.location {
    margin: 0px;
    padding: 0px;
    font-size: 2em;
}

.descript {
    margin: 0px;
    padding: 3px 0px 0px 0px;
    text-transform: uppercase;
    font-size: 1em;
}

.icon {
    display: block;
    width: 80vw;
    height: auto;
    margin: auto;
    position: absolute;
    /*
    right: 60px;
    top: 60px;
*/
}

.temp {
    padding: 0px;
    margin: 0px;
    margin-top: 5vw;
    /*    margin-top: 140px;*/
    font-size: 3em;
    /*    justify-self: center;*/
    text-align: center;
    /*    position: absolute;*/
    /*
    left: 105px;
    top: 215px;
*/
    /*    width: 183px;*/
    /*    height: 71px;*/
}

#screen {
    display: grid;
    grid-template-columns: 1fr;
}

.background {
    width: 100vw;
    height: 100vh;
    background: rgb(255, 222, 104);
    padding: 0px 0px 0px 0px;
    justify-self: center;
    display: grid;
    margin-bottom: 5vw;
}

.ct-series-a .ct-point {
    /* Colour of your points */
    stroke: white;
    /* Size of your points */
    stroke-width: 2px;
    /* Make your points appear as squares */
    stroke-linecap: circle;
}

.ct-series-a .ct-line {
    stroke: black;
    /* Set the colour of this series line */
    /* Control the thikness of your lines */
    stroke-width: 1px;
    /* Create a dashed line with a pattern */
}

.ct-label {
    color: black;
}

/*
 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
*/

.menu {
    /*    height: 256px;*/
}

.link-bar {
    /*    padding-top: 40px;*/
    /*    width: 100%;*/
}

.chart {
    padding-left: 10px;
}

hr {
    height: 1px;
    background-color: black;
    border: none;
    margin-bottom: 30px;
}


.right {
    text-align: right;
}

.ct-chart {
    height: 160px;
}

.ct-chart-line {
    padding-top: 0px;
}

.temp-core {
    position: relative;
}

.sig {
    /*    margin-top: 50px;*/
    padding: 0px;
    margin: 0px;
    font-size: 0.5em;

}

@media screen and (min-width: 500px) {
    .background {
        margin-top: 50px;
        padding-top: 13px;
        padding-bottom: 70px;
        width: 440px;
        height: auto;
        -webkit-box-shadow: 0px 3px 20px 1px rgba(0, 0, 0, 0.34);
        -moz-box-shadow: 0px 3px 20px 1px rgba(0, 0, 0, 0.34);
        box-shadow: 0px 3px 20px 1px rgba(0, 0, 0, 0.34);
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    .icon {
        width: 350px;
    }

    .temp {
        margin-top: 40px;
    }

    .appWrap {
        grid-template-rows: auto 8vh 300px 260px 1fr;
    }

    .sig {
        padding-top: 70px;
    }
}
